<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var token = getTokenFromURL();

            if (!token) {
                alert("Token not found in URL!");
                return;
            }

            document.querySelector('input[name="token"]').value = token;

            var form = document.querySelector('form');
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission
                submitForm(token);
            });
        });

        function getTokenFromURL() {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('token');
        }

        function submitForm(token) {
            var newPassword = document.querySelector('input[name="newPassword"]').value;

            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "/api/auth/reset-password", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert("Password changed successfully!");
                    } else {
                        alert("Failed to change password.\nToken: " + token + "\nNew Password: " + newPassword);
                    }
                }
            };

            var data = JSON.stringify({ "token": token, "newPassword": newPassword });
            xhr.send(data);
        }
    </script>
</head>
<body>
    <h2>Reset Password</h2>
    <form>
        <input type="hidden" name="token" value="">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>
